:root {
  --primary-color: #fd951f;
  --bg-color: #130f0d;
  --text-color: #f0f0f5;
  --light-color: rgba(255, 255, 255, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62%;
  height: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--bg-color);
  color: var(--text-color);
}

.form__sign-up {
  background: rgba(255, 255, 255, 0.03);

  width: 100%;
  max-width: 750px;

  margin: 3.2rem auto;
  padding: 3.2rem 2.4rem;

  display: flex;
  flex-direction: column;
}

.form__title {
  margin-bottom: 4rem;
  font-size: 3rem;
}

.form__field {
  border: none;
  margin-bottom: 4rem;
}

.field__legend {
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 1px var(--bg-color) solid;
}

.input__field,
.select__field,
.date__field {
  position: relative;
  margin-bottom: 24px;
  font-size: 1.4rem;
}

.input,
.select,
.form__submit {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  width: 100%;

  padding: 16px 0;

  border: none;
  border-bottom: 1px solid var(--primary-color);

  background-color: transparent;

  outline: none;

  color: var(--text-color);
  font-size: 1em;
}

.input {
  margin-bottom: 1rem;
}

.select option {
  color: var(--bg-color);
}

.form__submit {
  margin-top: 16px;
  background-color: var(--primary-color);
}

.input__field .input ~ .input__label {
  position: absolute;
  top: 16px;
  left: 0;

  transition: .4s;
}


.input__field .input:focus ~ .input__label,
.input__field .input:valid ~ .input__label {
  transform: translateY(-24px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.input__error {
  display: flex;
  border: 1px solid red;
  padding: 0.4em;
  background-color: rgba(255, 0, 0, 0.02);

  transform: scaleY(0);
  transition: .3s;
}

.input__error.active {
  transform: scaleY(1);
}

@media (min-width: 750px) {
  .form__sign-up {
    padding: 3.2rem 4rem;
  }

  .input__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
  }

  .form__field:nth-child(2) .input__field {
    width: 45%;
  }
}